* {
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos header*/

header {
    display: flex;
    height: 100px;
}

.image-header {
    margin: auto;
    width: auto;
    height: 100px;
}

/*Estilos NAV*/

nav {
    position: sticky;
    z-index: 100;
    top: 0px;
    background-color:rgb(66, 65, 65);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    padding: 10px 0px;
    font-weight: bold;
    color: white;
    justify-content:space-around;
}

.nav-list :link {
    text-decoration: none;
    color: white;
}

.nav-list :visited {
    text-decoration: none;
    color: white;
}

.nav-list :hover {
    text-decoration: none;
    color: rgb(236, 232, 232);
}

.nav-list :visited:hover {
    text-decoration: none;
    color: rgb(236, 232, 232);
}

.nav-menu {
    margin: 0px 20px;
    margin-right: auto;
}

.nav-flex {
    display: none;
}

.nav-fecha {
    margin: 0px 20px;
    font-size: 15px;
    vertical-align: bottom;
}

/*Estilos Main*/

.column {
    display: flex;
    flex-flow: row wrap;
}

.column-1 {
    flex: 100%;
    display: none;
}

#column1 {
    display: none;
    flex: 5%;
    background-color:rgb(240, 235, 235);
}

.column-2 {
    display: inherit;
    flex-flow: inherit;
    justify-content:space-around;
    flex: 100%;
    height: auto;
}

.column-3 {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    flex: 20%;
    height: auto;
    background-color: rgb(240, 235, 235);
}

.notices-column-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
    margin: 15px;
    width: 45%;
    border-top: 1px solid rgb(66, 65, 65);
}

.ultimas-noticias {
    display: inherit;
    width: 100%;
    height: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: brown;
    color: white;
    font-size: 35px;
}

/*Estilos Articulo*/

.article-box {
    margin: 10px;
    margin-bottom: 20px;
    width: 300px;
}

.article-image {
    max-width: 100%;
}

.article-img {
    width: 300px;
    height: max-content;
}

.article-title {
    font-size: 20px;
    color: brown;
    font-weight: bold;
    margin: 15px 5px;
}

.article-text {
    font-size: 20px;
    font-weight: bold;
    margin: 5px;
    color: black;
}

.article-box, .notices-column-3, :link {
    text-decoration: none;
}

.article-box, .notices-column-3, :visited {
    text-decoration: none;
}

/*Estilos formulario*/

.formulario {
    display: inherit;
    flex-flow: column wrap;
    justify-content:flex-start;
    height:max-content;
    width: 95%;
    margin-top: 10px;
    background-color:rgb(240, 235, 235);
}

fieldset {
    position: relative;
    display: inherit;
    flex-direction: column;
    align-content: center;
    align-self: center;
    justify-content:center;
    z-index: 50;
    width: 90%;
    padding: 15px, 0px;
    margin: 10px;
    margin-left: 0px;
}

.fieldset.falla p {
    display: block;
    position: absolute;
    top: 88px;
    color: red;
}

label {
    margin: 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin: 15px 0px;
    width: 100%;
}

.formulario-clase {
    width: 100%;
    box-sizing: border-box;
}

.enviar-form {
    width: 100%;
    height: 50px;
    border: none;
    background-color:rgb(66, 65, 65);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin: 0%;
    padding: 0%;
    margin: 5px;
    border: 1px solid rgb(185, 197, 197);
}

/*Estilos footer*/

.copyright {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: rgb(26, 25, 25);
    font-size: 19px;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 768px) {

    /* Estilos NAV*/
    .nav-menu {
        display: none;
    }
    .nav-flex {
        display: inherit;
    }

    /*Main*/

    #column1 {
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 10px;
    }

    .column-2 {
        flex: 60%;
    }

    .media {
        text-align: center;
        padding: 20px;
    }

    .media-column {
        display: inherit;
        flex-direction: column;
    }

    .media-image {
        width: 70%;
        max-width: 60px;
    }

    /*Estilos aside*/

    .column-3 {
        justify-content:center;
        align-content:flex-start;
        margin-top: 10px;
        margin-right: 10px;
    }

    .notices-column-3 {
        display: flex;
        flex-direction: row;
        align-content: center;
        min-width: 150px;
        width: 90%;
    }

    .formulario {
        flex-wrap: wrap;
        width: 90%;
        flex-direction: row;
        justify-content:space-around;
    }

    fieldset {
        display: inherit;
        flex-wrap: wrap;
        width: 45%;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {

    /* Estilos NAV*/

    .nav-menu {
        display: none;
    }

    .media-column {
        margin-top: 10px;
    }
}