* {
    font-family: Arial, Helvetica, sans-serif;
}

/*Estilos header*/

header {
    display: flex;
    height: 100px;
}

.image-header {
    margin: auto;
    width: auto;
    height: 100px;
}

/*Estilos NAV*/

nav {
    position: sticky;
    top: 0px;
    background-color:rgb(66, 65, 65);
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    padding: 10px 0px;
    font-weight: bold;
    color: white;
    justify-content:space-around;
}

.nav-list :link {
    text-decoration: none;
    color: white;
}

.nav-list :visited {
    text-decoration: none;
    color: white;
}

.nav-list :hover {
    text-decoration: none;
    olor: rgb(236, 232, 232);
}

.nav-list :visited:hover {
    text-decoration: none;
    color: rgb(236, 232, 232);
}

.nav-menu {
    margin: 0px 20px;
    margin-right: auto;
}

.nav-flex {
    display: none;
}

.nav-fecha {
    margin: 0px 20px;
    font-size: 15px;
    vertical-align: bottom;
}

/*Estilos Main*/

.column {
    display: flex;
    flex-flow: row wrap;
}

.column-general {
    border:1px solid black;
}

.column-1 {
    flex: 100%;
    display: none;
}

#column1 {
    display: none;
    flex: 20%;
    background-color: azure;
}

.column-2 {
    display: inherit;
    flex-flow: inherit;
    justify-content: center;
    flex: 100%;
    height: auto;
}

.article-box {
    margin: 10px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.column-3 {
    flex: 20%;
    height: auto;
    background-color: azure;
}





@media only screen and (min-width: 768px) {
    /* Estilos NAV*/
    .nav-menu {
        display: none;
    }
    .nav-flex {
        display: inherit;
    }
    /*Main*/

    #column1 {
        display: inherit;
    }
    .column-2 {
        flex: 60%;
    }


}

@media only screen and (min-width: 1024px) {
    /* Estilos NAV*/
    .nav-menu {
        display: none;
    }
    #column1 {
        display: inherit;
    }
}